<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homepage' %}">Main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_news' %}">Add news</a>
        </li>
    </ul>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8">
                {% for item in news %}
                <div class="card mb-3 text-left">
                    <div class="card-header">
                        {% if item.category %}
                            Category: {{ item.category }}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title}}</h5>
                        <p class="card-text">{{ item.content|truncatewords:100}}</p>
                        <a href="#" class="btn btn-primary">Continue reading...</a>
                    </div>
                    <div class="card-footer text-muted">
                        Date: {{ item.created_at|date:"Y-m-d" }}, time: {{ item.created_at|date:"H:m" }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <ul class="nav flex-column">
                    <h5>All categories</h5>
                    {% for category in categories %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ category.get_absolute_url }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                  </ul>
            </div>
        </div>        
    </div>


    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>